body {
    font-family: Segoe UI;
}



.my-login-photo {
    text-align: end;
    padding-right: 0px;
}

.hr-logo {
    width: 2px;
    background-color: #df4380;
    min-height: 40px;
}

.login-mk {
    line-height: 35px;
    color: #624B77;
    font-size: 16px;
    padding-left: 200%;
    font-weight: Bold;
}

.mk-line {
    padding-top: 15%;
    padding-left: 10%;
}

.my-header {
    padding-top: 5%;
}

.consultant {
    /* padding-left: 5%; */
    font-size: 16px;
}

.my-header-name {
    color: #df4380;
    text-shadow: 4px 4px 4px rgba(150, 150, 150, 0.5);
    font-size: 45px;
    font-weight: bold;
    /* font-family: Segoe UI; */
}

.my-header-msg {
    padding-top: 15%;
}

.my-header-msg p {
    font-size: 20px;
}

.my-header-btn {
    width: 300px;
    height: 55px;
    border: 4px solid #624B77;
    border-radius: 30px;
    padding: 5px 40px 5px 40px;
    background-color: white;
    color: #DF4380;
    font-size: 25px;
    font-weight: 700;
   
}

.my-header-btn:focus {
    background-color: rgb(221, 132, 166);
    outline: none;
    outline: none;
}


.login-info {
    display: inline;
    width: 50%;
    background-color: blue;
}

.perpel {
    background-color: #624b77;
    height: 12px;
}

.pink {
    background-color: #F7DADF;
}

.red {
    background-color: #df4380;
}





@media only screen and (max-width: 900px) {
    .toltip-icon {
        top: -18px;
        left: 250px;
    }
    .toltip {
        width: 380px;
        height: 250px;
    }
    #carouselExampleIndicators {
        /* display: none; */
    }
    .my-header-name {
        font-size: 35px;
        text-align: center;
    }
    .mk-line {
       display: none;
       
    }


    .my-header-msg {
        padding-top: 0%;
    }
    .my-header-msg p {
        font-size: 20px;
        text-align: center;
    }
}