body {
    font-family: Segoe UI;
}



.my-login-photo {
    text-align: end;
    padding-right: 0px;
}

.hr-logo {
    width: 2px;
    background-color: #df4380;
    min-height: 40px;
}

.login-mk {
    line-height: 35px;
    color: #624B77;
    font-size: 16px;
    padding-left: 200%;
    font-weight: Bold;
}

.mk-line {
    padding-top: 15%;
    padding-left: 10%;
}

.my-header {
    padding-top: 5%;
}

.consultant {
    /* padding-left: 5%; */
    font-size: 16px;
}

.my-header-name {
    color: #df4380;
    text-shadow: 4px 4px 4px rgba(150, 150, 150, 0.5);
    font-size: 45px;
    font-weight: bold;
    /* font-family: Segoe UI; */
}

.my-header-msg {
    padding-top: 15%;
}

.my-header-msg p {
    font-size: 20px;
}

.my-header-btn {
    width: 300px;
    height: 55px;
    border: 4px solid #624B77;
    border-radius: 30px;
    padding: 5px 40px 5px 40px;
    background-color: white;
    color: #DF4380;
    font-size: 25px;
    font-weight: 700;
   
}

.my-header-btn:focus {
    background-color: rgb(221, 132, 166);
    outline: none;
    outline: none;
}


.login-info {
    display: inline;
    width: 50%;
    background-color: blue;
}

.perpel {
    background-color: #624b77;
    height: 12px;
}

.pink {
    background-color: #F7DADF;
}

.red {
    background-color: #df4380;
}


/* img 
 */

 .fancybox-close {
    display:inline !important;
    top: -7px !important;
    right: 1px !important;
    width: 28px !important;
    height: 30px !important;
    
    }


 body {
	margin:0;
}

.image {
	margin:30px; 
	float:left;
	cursor:pointer;
	max-height:100px;
}

.popup {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0,0,0,0.4);
	position:absolute;
	z-index:1;
	height:100%;
	width:100%;
}


.popup_img {
	position: relative;
	margin:0 auto;
	z-index:2;
	max-height:94%;
	max-width:94%;
	margin:1% 0 0 0;
}

/* 

@media (min-width: @screen-sm-min) { 
    /* ... } */
    @media (min-width: 1321px){}
    @media (min-width: 1112px) and (max-width: 1320px){}
    @media (min-width: 752px) and (max-width: 1111px){
        .my-header-msg {
            padding-top: 2%;
        }

    
        #carouselExampleIndicators {
            /* display: none; */
        }
        .my-header-name {
            font-size: 35px;
            text-align: center;
        }
        .mk-line {
           display: none;
           
        }
        .headliners{
            font-size: 35px;
        }
            
        .my-header-msg p {
            font-size: 20px;
            text-align: center;
        }
        .my-header-btn {
            margin-bottom: 5%;
        }



    }
    @media (max-width: 751px){}
    

