body {
    font-family: 'Segoe UI';
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: #FFFFFF;
}

.carousel-indicators .active {
    background-color: #DF4380;
}

.element-18-19 {
    position: absolute;
    z-index: 10;
    padding: 0;
    margin: 1%;
}

.element-18-19 img {
    padding-top: 13%;
    width: 70%;
}

.my-login-photo {
    text-align: end;
    padding-right: 0%;
}

.my-login-photo img {
    padding-top: 10%;
    width: 30%;
}

.hr-logo {
    width: 2px;
    background-color: #624B77;
    min-height: 10%;
}

.my-header-logo img {
    width: 50%;
}

.my-header-consultant {
    padding-top: 4%;
}

.login-mk {
    text-align: end;
    color: #624B77;
    font-size: 0.8rem;
    padding-left: 200%;
    font-weight: Bold;
}

.mk-line {
    text-align: right;
    margin-top: 10%;
    margin-left: 51%;
}

.my-header {
    padding-top: 5%;
}

.consultant {
    /* padding-left: 5%; */
    font-size: 16px;
}

.my-header-name {
    color: #df4380;
    font-size: 2em;
    font-weight: bold;
    padding-top: 10%;
}

.my-header-msg p {
    font-size: 1em;
}

.my-header-btn {
    border: 2px solid #624B77;
    border-radius: 30px;
    padding: 5px 40px 5px 40px;
    background-color: white;
    color: #DF4380;
    font-size: 0.8em;
    font-weight: 700;
    min-width: 40%;
    margin-bottom: 1%;
}

.my-btn {
    cursor: pointer;
}

.my-btn:focus {
    outline: 0;
    box-shadow: rgba(223, 67, 128, .25);
}

.my-btn:hover, .my-btn:active, .my-btn:focus {
    color: rgba(223, 67, 128, .25);
    outline: none;
    text-decoration: none;
}

.my-header-btn:hover {
    background-color: rgba(223, 67, 128, 0.7);
    outline: none;
    outline: none;
    color: white;
}

.login-info {
    display: inline;
    width: 50%;
    background-color: blue;
}

.perpel {
    background-color: #624b77;
    height: 12px;
}

.pink {
    background-color: #F7DADF;
}

.red {
    background-color: #df4380;
}

/* img 
 */

.fancybox-close {
    display: inline !important;
    top: -7px !important;
    right: 1px !important;
    width: 28px !important;
    height: 30px !important;
}

body {
    margin: 0;
}

.image {
    margin: 30px;
    float: left;
    cursor: pointer;
    max-height: 100px;
}

.popup {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

.popup_bg {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.popup_img {
    position: relative;
    margin: 0 auto;
    z-index: 2;
    max-height: 94%;
    max-width: 94%;
    margin: 1% 0 0 0;
}

.my-carousel-2 {
    display: none;
}

@media (min-width: 1321px) {}

@media (min-width: 1112px) and (max-width: 1320px) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .my-header-name {
        color: #DF4380;
        font-size: 2em;
        font-weight: bold;
        padding-top: 0%;
    }
    .my-header-msg {
        padding-top: -10%;
    }
    .my-header-btn {
        border: 4px solid #624B77;
        border-radius: 30px;
        /* padding: 5px 40px 5px 40px; */
        background-color: white;
        color: #DF4380;
        font-size: 1em;
        font-weight: 700;
        min-width: 40%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .my-header-name {
        padding-top: 0%;
    }
    .my-header-msg p {
        font-size: 0.7em;
    }
    .my-header-name {
        font-size: 1.5em;
    }
    .my-header-btn {
        padding: 1px 20px 5px 10px;
    }
    .mk-line {
        margin-top: -15%;
        margin-left: 50%;
    }
    .mk-line {
    
    }
}

@media (min-width: 752px) and (max-width: 1111px) {
    .my-header-msg {
        /* padding-top: 2%; */
    }
    .my-header-logo img {
        width: 63%;
    }
    .mk-line {
        text-align: right;
        padding-top: 30%;
    }
    .headliners {
        font-size: 35px;
    }
    .my-header-btn {
        margin-bottom: 1%;
    }
    .my-login-photo img {
        padding-top: 21%;
        width: 30%;
    }
    .mk-line img{
        width: 60%;
    }
}

@media (max-width: 751px) {
    .element-18-19 img {
        width: 60%;
        margin-left: 10%;
    }
    .my-login-photo img {
        padding-top: 19%;
        width: 30%;
    }
    .my-header-logo img {
        width: 49%;
        padding-top: 7%;
    }
    .mk-line {
        padding-bottom: 5%;
        text-align: right;
        margin-top: 10%;
    }
    .mk-line img {
        width: 50%;
    }
    .my-carousel {
        display: none;
    }
    .my-carousel-2 {
        display: inline;
    }
    .element-18-19 {
        display: none;
    }
    .my-header-name {
        font-size: 2em;
        padding-top: 7%;
    }
}