.headliners {
    font-family: 'Century Gothic';
    font-size: 5em;
    padding: 5% 0 5% 0;
    color: #624b77;
    font-weight: 700;
    border: 2 ps solid rebeccapurple;
}

.toltip {
    background-color: #de437f;
    border: 2 ps solid rebeccapurple;
    padding: 5px;
}

.toltip-box {
   
    background-color: white;
    border: 2 ps solid black;
    padding-left: 20px;
    z-index: 10;
    position: relative;

}

.col-toltip-icon {
    padding: 0;
}

.toltip-icon {
    width: 30px;
    height: 30px;
    background-color: none;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(45deg);
    border: 4px solid #de437f;
    z-index: 2;
    position: relative;
    top: 100px;
    left: -35px;
    background-color: white;
    padding: 0;
}

.toltip-box-meta {
    font-size: 3.5em;
    padding-top: 5%;
    color: #DF4380;
    font-weight: bold;
    padding: 0;
}

.toltip-box-head {
    font-size: 2em;
    color: #624B77;
    padding-top: 5%;
    color: #624b77;
    font-weight: 700;
}

.pink-line {
    position: relative;
    left: -15%;
    width: 45%;
    background-color: #de437f;
    border: 2px solid #de437f;
}

.iquarter-icon {
   width: 15%;
    margin-left: 75%;
    padding-bottom: 8%;
}

.my-results {}

.results-box-head {
    text-align: end;
    padding-top: 5%;
    color: #DF4380;
    font-weight: 700;
    font-size: 2em;
    /* margin-right: 30px; */
}

.line2 {
    align-items: flex-end;
    width: 38%;
    background-color: #624b77;
    border: 2px solid #624b77;
    position: relative;
    left: 30%;
}

.my-table {
    border: 4px solid #624b77;
    line-height: 1;
}

.my-table td {
    border: 4px solid #624b77;
}

.my-table th {
    border: 4px solid #624b77;
}

.login-info {
    display: inline;
    width: 50%;
    background-color: blue;
}

.headliners {
    padding: 5% 0 5% 0;
    color: #624b77;
    font-weight: 700;
    font-size: 4em;
}

.block-wings_award {
    /* width: 600px; */
    height: 300px;
    /* background: #383838; */
    line-height: 200px;
    text-align: center;
    overflow: hidden;
    position: relative;
    left: -52px;
    top: -136px;
}

.block-wings_award img {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    position: relative;
    left: 78px;
}

.img-hide {
    display: none;
}

@media (min-width: 1321px) {}

@media (min-width: 1024px) and (max-width: 1320px) {
   
    .toltip-box-meta {
        font-size: 2.5em;
        padding-top: 5%;
        color: #DF4380;
        font-weight: bold;
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .toltip-icon {
        top: 69px;
        left: -34px;
    }
    
    
    .headliners {
        font-size: 3em;
    }
    .toltip-box-meta {
        font-size: 1em;
        padding-top: 5%;
        color: #DF4380;
        font-weight: bold;
        padding: 0;
    }
    .toltip-box-meta {
        font-size: 2em;
        padding-top: 5%;
        color: #DF4380;
        font-weight: bold;
        padding: 0;
    }
}

@media (max-width: 767px) {
    .toltip-box-meta {
        font-size: 2em;
    }
    .toltip-icon {
        top: -20px;
        left: 43px;
    }
  
    .block-wings_award {
        display: none;
    }
    .img-hide {
        display: block;
    }
}

@media (max-width: 375px) {
   
    .toltip-icon {
        top: -20px;
        left: 57px;
    }
    .block-wings_award img {
        display: none;
    }
}
    