.headliners {
    font-family: 'Century Gothic';
    font-size: 100px;
    padding: 5% 0 5% 0;
    color: #624b77;
    font-weight: 700;
}

.toltip {
    /* width: 500px;
    height: 300px;
    background-color: #de437f;
    border: 2 ps solid rebeccapurple;
    padding: 5px;
    -webkit-box-shadow: 0 8px 6px -6px #de437f;
    ;
    -moz-box-shadow: 0 8px 6px -6px #de437f;
    ;
    box-shadow: 0 8px 6px -6px #de437f; */
    ;
}

.toltip-box {
    /* width: 491px;
    height: 290px;
    background-color: white;
    /* border: 2 ps solid black; */
    padding-left: 20px;
    z-index: 10;
    position: relative; */
}

.toltip-icon {
    width: 30px;
    height: 30px;
    background-color: none;
    -ms-transform: rotate(20deg);    /* IE 9 */
    -webkit-transform: rotate(20deg);    /* Safari 3-8 */
    transform: rotate(45deg);
    border: 4px solid #de437f;
    z-index: 2;
    position: relative;
    top: -257px;
    left: 474px;
    background-color: white;
}

.toltip-box-meta {
    font-size: 70px;
    padding-top: 5%;
    color: #DF4380;
    font-weight: bold;
    padding: 0;
}

.toltip-box-head {
    font-size: 35px;
    color: #624B77;
    padding-top: 5%;
    color: #624b77;
    font-weight: 700;
}

.pink-line {
    position: relative;
    left: -15%;
    width: 45%;
    background-color: #de437f;
    border: 2px solid #de437f;
}

.iquarter-icon {
    position: relative;
    top: -65px;
    left: 370px;
}

.my-results {
    position: relative;
    top: -100%;
    left: 1%;
    height: 223px;
}

.results-box-head {
    text-align: end;
    padding-top: 5%;
    color: #DF4380;
    font-weight: 700;
    font-size: 35px;
}

.img-wings {
    text-align: right;
    position: relative;
    top: -5%;
    overflow: hidden;
}
.wings-award {
    position: relative;
    left: 251px;
    top: -33px;
    overflow-y: auto;
    z-index: 3;
}


.line2 {
    align-items: flex-end;
    width: 45%;
    background-color: #624b77;
    border: 2px solid #624b77;
    position: relative;
    left: 27%;
}

.my-table {
    border: 4px solid #624b77;
}

.my-table td {
    border: 4px solid #624b77;
}

.my-table th {
    border: 4px solid #624b77;
}

.login-info {
    display: inline;
    width: 50%;
    background-color: blue;
}

.headliners {
    padding: 5% 0 5% 0;
    color: #624b77;
    font-weight: 700;
}

@media only screen and (max-width: 900px) {}