.page-3 {
    background: url(../img/two_color_background.png) no-repeat center top fixed;
    */ -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* min-height: 1000px;  */
}

.istory-words {
    padding: 6% 0 0 5%;
    /* padding-top: 11px; */
}

.awards-background {
    height: 288px;
    margin-top: 8%;
    background-image: url(../img/awards_background_line.png);
}

.white-block {
    background-color: white;
    width: 250px;
    height: 350px;
    border-radius: 30px;
    position: relative;
    top: -48px;
    -webkit-box-shadow: 0 8px 6px -6px grey;
    ;
    -moz-box-shadow: 0 8px 6px -6px grey;
    ;
    box-shadow: 0 8px 6px -6px grey;
}

.touch-icon {
    position: relative;
    /* left: -80px; */
    top: 15px;
    /* padding-top: 20%; */
    font-size: 1em;
    color: #624B77;
    padding-top: 5%;
    color: #624b77;
    font-weight: 700;
    text-align: center;
}

.wings {
    position: relative;
    z-index: 5;
    width: 250px;
    height: 350px;
    left: -60px;
}

.wings-words {
    position: relative;
    z-index: 6;
    /* width: 250px;
    height: 350px;
    left: 23px; */
    top: -190px;
}

.heart {
    position: relative;
    z-index: 5;
    width: 250px;
    height: 350px;
    /* left: 32px; */
    top: -15px;
}

.heart-words {
    position: relative;
    z-index: 5;
    /* width: 250px;
    height: 350px; 
    left: 32px; */
    top: -190px;
}

.mk {
    position: relative;
    z-index: 5;
    width: 250px;
    height: 350px;
    left: -17px;
    top: 21px;
}

.mk-words {
    position: relative;
    z-index: 5;
    /* width: 250px;
    height: 350px;
    left: 21px; */
    top: -190px;
}

.crown {
    position: relative;
    z-index: 5;
    width: 250px;
    height: 350px;
    /* left: 42px; */
    top: 0px;
}

.crown-words {
    position: relative;
    z-index: 5;
    /* width: 250px;
    height: 350px;
    left: 27px; */
    top: -190px;
}

.line3 {
    align-items: flex-end;
    width: 82%;
    background-color: #624b77;
    border: 2px solid #624b77;
    position: relative;
    top: -51%;
}

.line4 {
    align-items: flex-end;
    width: 62%;
    background-color: #de437f;
    border: 2px solid #de437f;
    position: relative;
    top: -51%;
    left: 18%;
}

.girl-awards {
    position: relative;
    /* top: 57px; */
}

.pink2 {
    background-color: #F7DADF;
    height: 10px;
}

.my-container {
    padding: 0;
    margin: 0;
}

:focus {
    outline: none;
}

@media (min-width: 1321px) {}

@media (min-width: 1112px) and (max-width: 1320px) {}

@media (min-width: 752px) and (max-width: 1111px) {
    .awards-background {
        /* height: 300px; */
        margin-top: 8%;
        background-image: none;
    }
    .istory-words {
        padding: 8% 0 0 0%;
        padding-top: 11px;
    }
    .white-block {
        background-color: white;
        width: 250px;
        height: 350px;
        border-radius: 30px;
        position: none;
        /* top: -48px; */
        -webkit-box-shadow: 0 8px 6px -6px grey;
        ;
        -moz-box-shadow: 0 8px 6px -6px grey;
        ;
        box-shadow: 0 8px 6px -6px grey;
        flex: 0 0 51%;
    }
    .awards-background {
        height: auto;
        margin-top: 0%;
        background-image: none;
        margin-left: -63px;
    }
}

@media (max-width: 751px) {
    .white-block {
        background-color: white;
        width: 250px;
        height: 350px;
        border-radius: 30px;
        position: none;
        /* top: -48px; */
        -webkit-box-shadow: 0 8px 6px -6px grey;
        ;
        -moz-box-shadow: 0 8px 6px -6px grey;
        ;
        box-shadow: 0 8px 6px -6px grey;
        flex: 0 0 51%;
    }
    .awards-background {
        height: auto;
        margin-top: 0%;
        background-image: none;
    }
    .istory-words img {
        width: 70%;
    }
    .line3 {
        align-items: flex-end;
        width: 82%;
        border: 1px solid #624b77;
        position: relative;
        top: -51%;
    }
    .line4 {
        top: -55%;
        left: 18%;
    }
    .girl-awards {
        text-align: center;
    }
    .line4 {
        border: 1px solid #de437f;
    }
}