.toltip-headhalf-year {
    /* width: 500px;
    height: 300px; */
    background-color: #624B77;
    border: 2 ps solid rebeccapurple;
    padding: 5px;
    -webkit-box-shadow: 0 8px 6px -6px #624B77;
    -moz-box-shadow: 0 8px 6px -6px #624B77;
    box-shadow: 0 8px 6px -6px #624B77;
}

.half-year-period {
    padding: 5% 10% 0 0;
    text-align: right;
    font-size: 0.8em;
}

.headhalf-year {
    font-size: 2em;
    color: #DF4380;
    font-weight: 700;
}

.pink-line2 {
    position: relative;
    left: -15%;
    width: 45%;
    background-color: #624B77;
    border: 2px solid #624B77;
}

.pink-line3 {
    position: relative;
    left: -15%;
    width: 45%;
    background-color: #624B77;
    border: 2px solid #624B77;
}

.toltip-box-head-headhalf-year {
    font-size: 2em;
    color: #DF4380;
    padding-top: 15%;
    font-weight: 700;
}

.toltip-box-meta-headhalf-year {
    font-size: 2.5em;
    color: #624B77;
    font-weight: 700;
}

.toltip-box-meta-headhalf-year2 {
    font-size: 2.5em;
    color: #624B77;
    padding-top: 7%;
    font-weight: 700;
}

.prize-headhalf-year {
    font-size: 2em;
    color: #DF4380;
    /* padding-top: 15%; */
    font-weight: 700;
}

.img-container {
    /* width: 100%; */
    height: 447px;
}

.toltip-icon2 {
    width: 30px;
    height: 30px;
    background-color: none;
    -ms-transform: rotate(20deg);
    /* IE 9 */
    -webkit-transform: rotate(20deg);
    /* Safari 3-8 */
    transform: rotate(45deg);
    border: 4px solid #624B77;
    z-index: 2;
    position: relative;
    top: 100px;
    left: -35px;
    background-color: white;
    padding: 0;
}

.half-year-icon {
    margin-left: 79%;
    padding-bottom: 5%;
    width: 15%;
}

.party-div {
    position: relative;
    top: -500px;
}

.my-col-half-year {
    margin-bottom: -200px;
}

.party-cube-2 {
    display: none;
}

@media (min-width: 1321px) {}

@media (min-width: 1112px) and (max-width: 1320px) {}

@media (min-width: 769px) and (max-width: 1111px) {
    .party-div {
        position: relative;
        top: -400px;
    }
}

@media (min-width: 752px) and (max-width: 768px) {
    .block-wings_award {
        width: 664px;
      
        text-align: center;
        overflow: hidden;
        position: relative;
        left: -48px;
        top: -45px;
    }
    .block-wings_award img {
        overflow: hidden;
        vertical-align: middle;
        position: relative;
        left: -17px;
        top: 10%;
    }

    .my-hide-class-block{
        display: none;
    }
    .toltip-box-meta-headhalf-year2 {
        font-size: 2em;
        color: #624B77;
        padding-top: 7%;
        font-weight: 700;
    }
    
    .party-div {
        position: relative;
        top: -400px;
    }
    .party-div {
        position: relative;
        top: -300px;
    }
}



@media (max-width: 751px) {
    .toltip-box-head-headhalf-year {
        font-size: 2em;
        padding-top: 0%;
    }
    .toltip-box-meta-headhalf-year {
        font-size: 2em;
        font-weight: 700;
    }
    .half-year-icon {
        margin-left: 79%;
        padding-bottom: 5%;
        width: 15%;
    }
    .toltip-icon2 {
        top: -22px;
        left: 43px;
    }
    .party-div {
        position: relative;
        top: 0px;
        margin-bottom: 217px;
    }
    .toltip-box-meta-headhalf-year2 {
        font-size: 2em;
        padding-top: 7%;
        font-weight: 700;
    }
    .headhalf-year {
        font-size: 1em;
    }
    .prize-headhalf-year {
        font-size: 1.5em;
   
       
    }

    .pink-line3 {
        position: relative;
        left: 4%;
        width: 60%;
        background-color: #624B77;
        border: 1px solid #624B77;
    }
    .pink-line2 {
        position: relative;
        left: -15%;
        width: 45%;
        background-color: #624B77;
        border: 1px solid #624B77;
    }
    .party-cube-2 {
        display: block;
        position: relative;
        left: -10%;
        margin-bottom: -20%;
    margin-top: -20%;
    }
    .party-cube {
        display: none;
    }
}