.half-year-period {
    padding: 5% 10% 0 0;
    text-align: right
}

.toltip-box-headhalf-year {
    font-size: 35px;
    color: #DF4380;
    font-weight: 700;
}

.pink-line2 {
    position: relative;
    left: -15%;
    width: 45%;
    background-color: #624B77;
    border: 2px solid #624B77;
}

.pink-line3 {
    position: relative;
    left: -15%;
    width: 45%;
    background-color: #624B77;
    border: 2px solid #624B77;
}

.toltip-box-head-headhalf-year {
    font-size: 35px;
    color: #DF4380;
    padding-top: 5%;
    font-weight: 700;
}

.toltip-box-meta-headhalf-year {
    font-size: 70px;
    color: #624B77;
    font-weight: 700;
}

.toltip-box-meta-headhalf-year2 {
    font-size: 50px;
    color: #624B77;
    padding-top: 7%;
    font-weight: 700;
}

.img-container {
    /* width: 100%; */
    height: 447px;
}

.toltip-icon2 {
    width: 30px;
    height: 30px;
    background-color: none;
    -ms-transform: rotate(20deg);
    /* IE 9 */
    -webkit-transform: rotate(20deg);
    /* Safari 3-8 */
    transform: rotate(45deg);
    border: 4px solid #de437f;
    z-index: 2;
    position: relative;
    top: 50px;
    left: -35px;
    background-color: white;
    padding: 0;
}

.half-year-icon {
    margin-left: 70%;
    padding-bottom: 8%;
}

@media only screen and (max-width: 768px) {
    .toltip-box-meta-headhalf-year {
        font-size: 50px;
        color: #624B77;
        font-weight: 700;
    }
    .half-year-icon {
        position: relative;
        margin-left: 68%;
        margin-top: -100px;
        padding: 0;
    }
    .toltip-icon2 {
        top: -22px;
        left: 43px;
    }
}