.pink5 {
    background-color: #DF4380;
    height: 10px;
}

.page-5 {
    background: url(../img/mka_quote_pattern.png) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 640px;
}

.background2 {
    background-color: white;
    border-radius: 5ps solid white;
    width: 50%;
}

.col-color {
    background-color: white;
    border-radius: 50px;
    width: 71%;
    min-width: 550px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 25px;
    /* margin: 23px; */
    margin-top: 12%;
    padding-top: 7%;
    padding-bottom: 7%;
}

.d-block img {
    width: 10%;
}

.mk-photo{
    width: 55%;
}

.mk-photo-block{
/* text-align: center; */
position: relative;
left: 8%;

}
.mk-quote {
    padding-top:0px;
}

.mk-mk-quote-img {
    width: 25%;
    position: relative;
    /* right: 1%; */
    left: 111%;
    width: 15%;
    top: -60%;
}

@media (min-width: 1321px) {}

@media (min-width: 1024px) and (max-width: 1320px) {}

@media (min-width: 768px) and (max-width: 1023px) {
    .page-5 {
        min-height: 319px;
    }
}

@media (max-width: 767px) {
    .d-block img {
        width: 10%;
    }

    .mk-mk-quote-img {
        width: 25%;
        position: relative;

          
            right: 1%;
            left: 70%;
            width: 30%;
            top: -35%;
        
        
    }
    .mk-photo-block {
        text-align: center;
        position: relative;
        left: 21%;
    }

    .col-color {
        margin-top: 30%;
        min-width: 346px;
       
    }
    .mk-photo {
        width: 32%;
    }
}