.line-meta-year {
    position: relative;
    left: -21%;
    width: 31%;
    background-color: #de437f;
    border: 2px solid #de437f;
}

.pink-line6 {
    position: relative;
    left: -17%;
    width: 65%;
    background-color: #624B77;
    border: 2px solid #624B77;
}

.line7 {
    position: relative;
    left: 20%;
    width: 45%;
    background-color: #de437f;
    border: 2px solid #de437f;
}

.year-icon {
    margin-left: 79%;
    padding-bottom: 5%;
    width: 15%;
}

.toltip-box-meta-year {
    font-size: 2.5em;
    color: #DF4380;
    padding-top: 7%;
    font-weight: 700;
}

.toltip-box-head-year {
    font-size: 2em;
    color: #624B77;
    padding-top: 5%;
    font-weight: 700;
}

.toltip-icon-year {
    width: 30px;
    height: 30px;
    background-color: none;
    -ms-transform: rotate(20deg);
    /* IE 9 */
    -webkit-transform: rotate(20deg);
    /* Safari 3-8 */
    transform: rotate(45deg);
    border: 4px solid #de437f;
    z-index: 2;
    position: relative;
    top: 458px;
    left: -819px;
    background-color: white;
    padding: 0;
}

.img-last {
    width: 100%;
    ;
}

.img-last-2 {
    width: 100%;
}

.last-div {
    background: url(../img/partof_footer.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* min-height: 1000px; */
    background-color: #DF4380;
    text-align: center;
    padding-top: 2%;
}

.my-footer {
    background-color: #F6F6F6;
    text-align: center;
    padding-bottom: 1%;
}

.img-last {
    width: 65%;
    padding-top: 6%;
}

.my-text {
    font-size: 0.8em;
}

@media only screen and ( max-width: 768px) {
    .toltip-box-meta-year {
        font-size: 1em;
    }
    .toltip-icon-year {
        top: 308px;
        left: -410px;
    }
    .toltip-box-meta-year {
        font-size: 2em;
    }
    .year-icon {
        margin-left: 79%;
        padding-bottom: 5%;
        width: 15%;
    }
    .line-meta-year {
        left: -21%;
        width: 29%;
        border: 1px solid #de437f;
    }
    .img-last-3 {
        width: 71%;
    }
    .toltip-box-head-year {
        font-size: 1em;
    }
    .line7 {
        left: -6%;
        width: 45%;
        border: 1px solid #de437f;
    }
    .pink-line {
    
        border: 1px solid #de437f;
    }
    .pink-line6 {
      
        border: 1px solid #624B77;
    }
}