.pink-line6{
   
        position: relative;
        left: -17%;
        width: 65%;
        background-color: #624B77;
        border: 2px solid #624B77;
}
.toltip-box-meta-year{
    font-size: 50px;
    color: #DF4380;
    padding-top: 7%;
    font-weight: 700; 
}
.toltip-box-head-year{
    font-size: 35px;
    color: #624B77;
    padding-top: 5%;
    font-weight: 700;
}

.toltip-icon-year {
    width: 30px;
    height: 30px;
    background-color: none;
    -ms-transform: rotate(20deg);
    /* IE 9 */
    -webkit-transform: rotate(20deg);
    /* Safari 3-8 */
    transform: rotate(45deg);
    border: 4px solid #de437f;
    z-index: 2;
    position: relative;
    top: 398px;
    left: -700px;
    
    background-color: white;
    padding: 0;
}





@media only screen and ( max-width: 768px) {
    .toltip-box-meta-year{
        font-size: 35px;
    }

    .toltip-icon-year {
       
        top: 308px;
        left: -410px;
    
    }
    
    .toltip-box-meta-year{
        font-size: 30px;
      
    }
}